simplejson
wetext
sortedcontainers
torch>=2.5.0
torchaudio>=2.5.0
transformers>=4.36.2
einops
inflect
addict
modelscope>=1.22.0
datasets>=3,<4
huggingface-hub
pydantic
tqdm
soundfile
funasr
spaces
argbind
safetensors
